main {
    overflow: hidden;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    color: #615E76;
}


.bottom--80 {
    bottom: -88px;
}

.h2 {
    font-size: 32px;
    line-height: 42px;

    @media(max-width: 992px) {
        font-size: 24px;
        line-height: 30px;
    }
}

.p-400 {
    font-weight: 400;
}

.p-600 {
    font-weight: 600;
}

.p-12 {
    font-size: 12px;
    line-height: 15px;
}

.p-14 {
    font-size: 14px;
    line-height: 15px;
}

.p-20 {
    font-size: 20px;
    line-height: 20px;
}

.p-16 {
    font-size: 18px;
    line-height: 26px;

    @media(max-width: 1600px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.p-22 {
    font-size: 22px;
    line-height: 26px;
}

.pagination-danger {
    --swiper-theme-color: #D9476D;
}

.border-none {
    border: none !important;
}

.bg-roxo {
    background: linear-gradient(45deg, #272342 0%, #615E76 100%);
}

.rounded-40-top {
    @media(max-width:992px) {
        border-radius: 40px 40px 0px 0px !important;
    }
}

.rounded-40-bottom {
    @media(max-width:992px) {
        border-radius: 0px 0px 40px 40px !important;
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none !important;
}

.bg-cinza-lg {
    @media(min-width:992px) {
        background: $cinza;
    }
}

.bg-cinza-sm {
    @media(max-width:992px) {
        background: $cinza;
    }
}

.text-decoration-none {
    color: #615E76 !important;

    &:hover {
        color: #969696;
    }
}
